@model CarRentalProject.Models.ContactMessage
@{
    ViewData["Title"] = "Kontakt";
}




<h1>Skontaktuj się z nami</h1>

@if (ViewData["Success"] != null)
{
    <div class="alert alert-success">
        @ViewData["Success"]
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label class="control-label">Twoje Imię</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Twój Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Wiadomość</label>
                <textarea asp-for="Message" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Wyślij wiadomość" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Dane kontaktowe</h3>
        <p>
            <strong>Wypożyczalnia SuperAut</strong><br />
            ul. Studencka 1<br />
            00-001 Warszawa<br />
            Tel: 123-456-789
        </p>
    </div>
</div>